html
    head
        style
        script(src="a.js")
    body
        div#btn(style={background: '#000', color: '#fff'}) name:
            span.name lean
        div&attributes({title: 'aaa', class: 'div1'})
        p(class=['header', 'aaa', 'bbb'])